.item{
     background-repeat: no-repeat;
     float: left;
     width: 33.33%;
     padding: 5px;

}
.column{
     float: left;
     width: 33.33%;
     padding: 5px;
}
.row{
     content:"";
     clear: both;
     display: table;
}